body {
    font: .8125em/1.5 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image: url("pics/background/beige.jpg");
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

canvas{
    cursor: none;
    float: left;
    margin-left: 1%;
    border: solid 5px #00011e;
    border-radius: 5px;
    margin-top: 1%;
}

h2 {
    margin-bottom: 30px;
    font-size: 20px;
    color: black;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#right {
    background-color: white;
    border: solid 5px #00011e;
    border-radius: 20px;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

#commandes {
    background-color: #000000;
    color:white;
}

#nameAndScore{
    font-size: 1.3em;
}